<div class="booyah-box col-xs-10 col-xs-offset-1">
  <div class="col-xs-12 col-sm-4 text-center">
    <%= image_tag 'user.png', class: "space-it" %>
  </div>
  <div class="col-xs-12 col-sm-8">
    <h4><%= @user.email %></h4>
    <h4>Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></h4>
    <h4>Total Comments Made: <%= @user.comments.count %></h4>
    <h4>Total 5 Star Reviews: <%= @user.comments.where(rating: '5_stars').count %></h4>
  </div>
  <div class="clear"></div>
</div>